<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Security Error</title>
        <link rel="stylesheet" type="text/css"
              href="../../static/css/bootstrap.min.css"
              th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <a href="/">Home</a>
                </div>
                <div class="col-6 text-right" sec:authorize="isAuthenticated()">
                    Logged in user: <b  class="user" sec:authentication="name">Username</b>
                    <form th:action="@{/app-logout}" method="POST">
                        <input type="submit" value="Logout"/>
                    </form>
                </div>
            </div>
            <div class="row">
                <h3>Access Denied Exception</h3>
            </div>
        </div>
    </body>
</html>   